@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$bg:#F5F7FB;
$border:#E0E0E0;
$yellow:#F36D21;
$hover:#ff6c58;


$brand:#F36D21;
$border:#D4D4D4;
$text:#36322F;
$text-alpha:#333333;
$bg:#F5F7FB;
$green:#6DBE45;

@mixin gradient-border {
	background: linear-gradient(270deg, #0C7D3E 0%, #02A248 100%);
	border-radius: 36px;
}

h2{
    font-size: 26px;
}
h6{
    font-size: 16px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
}
h1{
    font-size: 32px;
	b{
		color: $brand;
	}
}
p{
    font-size: 14px;
}
span{
    font-size: 13px;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
@mixin shadow-effect {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
@mixin display-width {
    display: inline-block;
    width: 100%;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	color: $text;
	font-weight: 300;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
*{
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
}

a {
	color: #1B2954;
	-webkit-transition: color .3s ease;
	transition: color .3s ease
}

a:hover {
	color: #1B2954;
	text-decoration: none
}

section {
	position: relative;
    padding-top: 40px;
    padding-bottom:40px;
	padding-left: 50px;
	padding-right: 50px;
}

img {
	max-width: 100%
}

* {
	outline: 0
}

button {
	border: none;
	padding: 0
}

.form-control,
.form-control:focus,
button,
button:focus {
	outline: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none
}

textarea {
	resize: none
}

select {
	background-color: transparent
}
.content-slider{
	display: inline-block;
	width: 100%;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#e4e4e4;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color:$brand;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: $brand;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: $brand;
}

header{
	float: left;
	background: white;
	width: 100%;
	.logo{
		display:inline-block;
		img{
			width: 180px;
		}
	}
	nav{
		display: inline-block;
		ul{
			display: flex;
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				a{
					padding: 0 10px;
				}
			}
		}
	}
}
.avatar-publisher{
	position: absolute;
    left: 0;
    width: 100px;
    top: 0;
}
.modal-content{
	border-radius: 0 !important;
}
.form-contact{
	padding: 0;
	 background: $green;
	h2{
		text-transform: uppercase;
		color: white;
		font-size: 32px;
		color: white;
	}
	img{
		width: 100%;
	}
	input, textarea{
		border: 0 !important;
	}
	label{
		color: white !important;
	}
	.col-md{
		padding: 0;
	}

}
.form-box-rating{
	ul{
		li{
			padding: 15px;
			padding-left: 94px;
			position: relative;
			display: inline-block;
			width: 100%;
			background: #FFFFFF;
			border: 1px solid #E9E9EB;
			box-sizing: border-box;
			border-radius: 8px;
			margin-bottom: 15px;
			.avatar-raring{
				width: 70px;
				height: 70px;
				border-radius: 50%;
				border: 1px solid $brand;
				text-align: center;
				line-height: 20px;
				font-size: 20px;
				color: $brand;
				position: absolute;
				left: 15px;
				top: 15px;
				label{
					font-size: 32px;
					margin-top: 20px;
					font-weight: bold;
				}
			}
		}
	}
}
.popup-rating-comment{
	.form-box-content{
		padding: 20px !important;
	}
	
	.rating-content{
		display: inline-block;
		width: 100%;
		.rate{
			padding: 0 !important;
		}
	}
	textarea{
		margin-bottom: 0 !important;
	}
}
.scrollbar
{
	height: 69vh;
	width: 100%;
    margin: auto;
	padding-right: 15px;
	overflow-y: auto;
}
.popup-rating-comment{
position: relative;
z-index: 9999;
&::before{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: black;
	opacity: .6;
	content: '';
	display: block;
}
}
#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #0878BE;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #0878BE;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #16ACE4;
}
.infor-rating{
	h2{
		span{
			color: $brand;
		}
	}
}
.popup-rating{
	position: fixed;
	left: 0;
	top: 0;
	.form-box-rating{
		h2{
			margin-bottom: 10px;
			font-size: 16px;
		}
		p{
			margin-bottom: 0;
		}
	}
	.rating-repair-detail {
		display: flex;
		position: absolute;
		top: 8px;
    	right: 38px;
	}
	.modal-body{
		background: $bg !important;
	}
	.modal-header{
		position: relative;
		background: #FFFFFF;
		height: 43px;
		border-radius: 0;
		border: 0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
		h2{
			position: absolute;
			left: 15px;
			top: 10px;
			font-size: 14px;
			text-transform: uppercase;
		}
		button{
			padding: 6px 10px;
			font-weight: normal;
			position: absolute;
			right: 15px;
			&.btn-review{
				position: fixed;
				left: 181px;
				top: 5px;
				background: #F36D21;
				color: white;
				height: 34px;
				padding-top: 4px;
				text-transform: uppercase;
			}
		}
	}
	.modal-dialog{
		position: fixed;
    width: 560px;
	max-width: 560px !important;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    background: $bg;
    border-radius: 0;
	}
	.modal-header, .modal-body, .modal-content{
		border-bottom: 0 !important;
	}
	
}
.popup-checkcode{
	position: fixed;
    width: 100%;
    height: 100%;
	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	.modal-content{
		background: white;
	}
	.modal-body{
		padding-bottom: 20px;
		padding-top: 0 !important;
	}
	.modal-dialog{
		width: 450px;
		border: 0;
		border-radius: 0 !important;
		h2{
			color:$text;
			text-transform: uppercase;
		}
		button{
			border-radius: 0 !important;
			text-transform: uppercase;
			font-weight: bold;
		}
		.modal-header{
			padding: 10px 15px;
			text-align: left;
			position: relative;
			border: 0 !important;
			h4{
				color: $text;
			}
			button{
				position: absolute;
				right: 15px;
				top: 5px;
				background: none;
				color: $text-alpha;
				text-shadow: none;
				border: 0 !important;
				font-size: 36px;
				font-weight: normal;
			}
		}
	}
}
.modal-header{
	button{
		z-index: 99;
	}
}
.iframe-maps{
	height: 100%;
	display: inline-block;
	width: 100%;
	iframe{
		width: 100%;
		height: 100%;
	}
}
.list-mobile-section{
	padding: 0 !important;
	display: inline-block;
	border-top: 1px solid $border !important;
	width: 100%;
	.row{
		margin: 0 !important;
		.col-md{
			padding: 0;
		}
	}
	.list-repair-mobile{
		padding-left: 15px !important;
		padding-right: 15px !important;
		max-width: 500px !important;
		h1{
			font-size: 22px;
			display: inline-block;
			width: 100%;
			margin-bottom: 40px;
			margin-top: 20px;
		}
		ul{
			li{
				margin-bottom: 15px;
				display: inline-block;
				width: 100%;
				padding: 0 125px 15px 100px;
				position: relative;
				border-bottom: 1px solid $border;
				h6{
					margin-bottom: 5px;
					a{
						&:hover{
							color: $brand;
						}
					}
				}
				.avatar-list{
					position: absolute;
					left: 0;
					top: 0;
					width: 80px;
					img{
						width: 100%;
					}
				}
				
			}
		}
	}
}
.popup-booking{
	.modal-dialog{
		width: 500px;
		.form-box-content{
			max-width: 100%;
			textarea{
				margin-bottom: 0;
				border: 1px solid $border;
			}
			span{
				color: $text-alpha;
				margin-bottom: 15px;
			}
			input{
				font-size: 13px;
				height: 45px;
				border: 1px solid $border;
			}
			button{
				&:hover{
					background: #ff9051 !important;
				}
			}
		}
	}
}
.infor-head-repair{
	position: relative;
	padding-left: 120px;
	display: inline-block;
	width: 100%;
}
.logo-detail-repair{
	position: absolute;
    left: 15px;
    top: 15px;
    width: 100px;
}
.detail-repair-section{
	display: inline-block;
	width: 100% !important;
	margin: 0 !important;
	padding-top: 0 !important;
}
.rating-repair-detail{
	display: flex;
	img{
		width: 14px;
		margin-top: -2px;
	}
	p{
		span{
			color: $brand;
		}
	}

	label{
		color: $text-alpha;
		margin-left: 10px;
	}
}
.phone-reating{
	display: flex;
	a{
		margin-right: 15px;
	}
}
.list-repair-ul{
	display: inline-block;
	width: 100%;
	background: $bg;
	padding: 15px;
	h2{
		font-size: 20px;
		font-weight: bold;
	}
	ul{
		li{
			list-style: none;
			.list-services-body{
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 15px;
				background: white;
				border-radius: 15px;
				margin-bottom: 20px;
				img{
					width: 80px;
					height: 80px;
					object-fit: cover;
					margin-right: 15px;
				}
				h6{
					font-size: 16px;
					margin-bottom: 0;
				}
				label{
					color: $brand;
				}
				a{
					&.action-book{
						width: 100px;
						border: 1px solid $green;
						color: $green;
						text-align: center;
						float: right;
						height: 40px;
						border-radius: 50px;
						line-height: 38px;
						&:hover{
							background: $green;
							color: white;
						}
					}
					
				}
			}	
		}
	}
}
.infor-detailpage-repair{
	padding-left: 20px;
	display: inline-block;
	width: 100%;
	a{
		color: $brand;
		font-size: 16px;
	}
	h2{
		margin-bottom: 5px;
		margin-top: 15px;
	}
	span{
		margin-bottom: 7px;
		display: inline-block;
	}
	a{
		&.view-detail{
			color: $green;
			font-size: 12px;
			padding-left: 13px;
			margin-top: 3px;
			text-decoration: underline;
		}
	}
}
.cover-repair{
	img{
		width: 100%;
	}
}
.detail-repair-mobile{
	position: relative;
	max-width: 560px;
	padding: 0;
}
.rating-repair{
	position: absolute;
	right: 15px;
	top: 0;
	text-align: right;
	width: 125px;
	p{
		display: flex;
		margin-bottom: 0;
		img{
			width: 20px;
		}
		span{
			color: $brand;
			font-size: 18px;
			font-weight: normal;
		}
	}
	label{
		font-size: 12px;
		color: $text-alpha;
		display: inline-block;
		width: 100%;
		text-align: right;
	}
}
.form-box-content{
	padding:20px 50px;
	color: white;
	max-width: 450px;
	label{
		color: $text;
		font-size: 16px;
	}
	input{
		height: 35px;
		border: 1px solid $border !important;
		border-radius: 0;
		background: white;
		padding: 5px 14px;
		display: inline-block;
		width: 100%;
		margin-bottom: 0px;
		&:focus{
			background: white !important;
		}
	}
	textarea{
		height: 75px;
		
		background: white;
		display: inline-block;
		width: 100%;
		border: 1px solid $border !important;
		margin-bottom: 20px;
		padding: 5px 14px;
	}
	.form-group{
		margin-bottom: 15px;
	}
	button{
		background: $brand;
		color: white;
		width: 200px;
		padding: 10px;
		text-align: center;
		float: right;
		color: white !important;
		font-size: 14px;
		color: white;
	}
}
.popup-profile-publisher{
	.modal-body{
		padding-right: 0;
	}
	.modal-dialog{
		width: 800px;
		max-width: 800px;
		position: fixed;
		right: 0;
		border-radius: 0;
		top: 0;
		margin: 0;
		padding: 0;
		height: 100%;
		background: white;
	}
	.modal-content{
		border: 0;
		border-radius: 0;
	}
	.modal-header{
		padding: 0;
		text-align: left;
		border-radius: 0;
		padding: 10px 15px;
		background: $brand;
		h4{
			color: white;
			font-size: 15px;
			text-transform: uppercase;
			text-align: left;
			width: 100%;
			display: inline-block;
			text-shadow: none;
		}
		button{
			position: absolute;
			top: 4px;
			right: 15px;
			box-shadow: none;
			text-shadow: none;
			color: white;
			font-weight: normal;
			padding: 15px 10px;
			opacity: 1;
			font-size: 31px;
		}
	}
}
.modal-backdrop.show {
    opacity: .8;
}
.about-more{
	button{
		display: inline-block;
		padding: 1px 10px;
		border-radius: 0px;
		color: white;
		background: $brand;
		&:hover{
			background: $yellow;
		}
	}
}
.infor-publisher{
	position: relative;
	display: inline-block;
	min-height: 130px;
	width: 100%;
	padding-left: 120px;
	h1{
		font-size: 32px;
		color: $text;
		margin-bottom: 10px;
	}
	.website-publisher{
		display: flex;
		float: left;
		margin-right: 15px;
		i{
			margin-right: 5px;
			margin-top: 4px;
		}
	}
}

.scrollbar
{
	height: 93vh;
	width: 100%;
    margin: auto;
	overflow-y: auto;
}

#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: $bg;
}

#style-1::-webkit-scrollbar
{
	width: 2px;
	background-color: $bg;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	height: 1px;
	background-color: $border;
}

.table-content-cart{
	background: white;
	border: 0 !important;
	table{
		border: 1px solid $border;
		tr{
			td{
				border: 0 !important;
				input{
					&.quality{
						width: 70px;
						border: 1px solid $border;
						height: 23px;
						text-align: right;
						padding: 5px 10px;
					}
				}
			}
		}
	}
	.scrollbar
{
	height: initial;
	width: 100%;
    margin: auto;
	overflow-x: auto;
}

#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: $bg;
}

#style-1::-webkit-scrollbar
{
	width: 3px;
	background-color: $bg;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: $border;
}
}
.breadcrumb-div{
	padding: 10px 15px;
	display: inline-block;
	width: 100%;
	a{
		font-size: 12px;
		color: $text-alpha;
	}
	i, span, label{
		font-size: 12px;
		color: $text-alpha;
	}
}
.page-content{
	display: inline-block;
	width: 100%;
}
.pos-check-content{
	margin-bottom: 10px;
	padding-left: 15px;
}
.slide-PC{
	display: block !important;
}
.slide-MB{
	display: none !important;
}
.section-location{
	text-align: center;
	display: inline-block;
		width: 100%;
	h2{
		display: inline-block;
		width: 100%;
		font-size: 32px;
		text-transform: uppercase;
		font-weight: bold;
	}
	p{
		font-size: 23px;
		display: inline-block;
		width: 100%;
		margin-bottom: 60px;
	}
}
.box-logo-mobile{
	background: #FFFFFF;
	text-align: center;
	margin-bottom: 30px;
	padding: 50px;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.06);
}
.back-page{
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #6A7599;
	padding: 10px 15px;
	span{
		color: #BAC1DA;
	}
}
.checkbox-status{
	margin: 10px 0 0 0;
	float: left;
	padding: 0 15px;
	label{
		&::before{
			border: 1px solid #aeb6cf;
		}
		span{
			margin-top: 3px;
			float: right;
			color: $border;
			position: relative;
			&::before{
				position: absolute;
				left: -12px;
				top: 6px;
				width:8px;
				height:8px;
				content: '';
				display: block;
				border-radius: 50%;
				background: #76BA69;
			}
			.styled-checkbox:checked + label:before {
				background: #fff;
				border: 1px solid $border !important;
			}
			&.occupied{
				color: $border;
				&::before{
					background: $border;
				}
				.styled-checkbox:checked + label:before {
					background: #fff;
					border: 1px solid $border !important;
				}
			}
			&.reserved{
				color: $yellow;
				&::before{
					background: $yellow;
				}
				.styled-checkbox:checked + label:before {
					background: #fff;
					border: 1px solid $yellow !important;
				}
			}
		}
	}
	.styled-checkbox {
		position: absolute; // take it out of document flow
		opacity: 0; // hide it
	  
		& + label {
		  position: relative;
		  cursor: pointer;
		  padding: 0;
		  color: #BAC1DA;
		}
	  
		// Box.
		& + label:before {
		  content: '';
		  margin-right: 11px;
		  display: inline-block;
		  vertical-align: text-top;
		  width: 17px;
		  border-radius: 0;
		  height: 17px;
		  background: none;
		}
	  
		
		
		
		// Box checked
		&:checked + label:before {
		  background: #fff;
		  border: 1px solid white;
		}
		
		// Disabled state label.
		&:disabled + label {
		  color: #b8b8b8;
		  cursor: auto;
		}
	  
		// Disabled box.
		&:disabled + label:before {
		  box-shadow: none;
		  background: #fff;
		  
		}
	  
		// Checkmark. Could be replaced with an image
		&:checked + label:after {
			content: '';
			display: block;
			position: absolute;
			top: 3px;
			left: 6px;
			width: 6px;
			color: $yellow;
			background: white;
			height: 13px;
			box-shadow: none !important;
			border: solid ;
			border-width: 0 2px 2px 0;
			transform: rotate(
		45deg
);
		}
	  }
	  .available{
		span{
			color: $border;
			&::before{
				background: $border;
			}
		}
		.styled-checkbox {
			// Box hover
			&:hover + label:before {
			  background: #fff;
			  border: 1px solid $border;
			}
			
			
			// Box checked
			&:checked + label:before {
			  background: #fff;
			  border: 1px solid $border;
			}
			

			// Disabled state label.
			&:disabled + label {
			  color: #b8b8b8;
			  cursor: auto;
			}
		  
			// Disabled box.
			&:disabled + label:before {
			  box-shadow: none;
			  background: #fff;
			}
		  
			// Checkmark. Could be replaced with an image
			&:checked + label:after {
				content: '';
				display: block;
				position: absolute;
				top: 3px;
				left: 8px;
				width: 6px;
				background: white;
				color: $border;
				height: 14px;
				box-shadow: none !important;
				border: solid $border;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);	
			}
		  }
	  }
}
.p-0{
	padding: 0 !important;
}
.infor-price{
	ul{
		li{
			position: relative;
			padding: 8px 15px;
			list-style: none;
			padding-left: 34px;
			i{
				color: $yellow;
				font-size: 10px;
				position: absolute;
				left: 15px;
    			top: 15px;
			}
			span{
				display: inline-block;
				width: 100%;
				color: $text;
			}
		}
	}
}
.price-table > .row > .col-md-6 > .row .col-md-6{
	height: 100%;
	border: 1px solid $border;
}
.price-table{
	.row{
		height: 100%;
		.col-md-12{
			padding: 0 !important;
			border: 1px solid $border;
			height: 100%;
			border-top: 0;
			.head-row2{
				display: inline-block;
				background: white;
				width: 100%;
				text-align: center;
				border-bottom: 1px solid $border;
				padding: 15px;
				h5{
					font-size: 23px;
					padding: 15px;
					display: inline-block;
					color: $brand;
					width: 100%;
					margin-bottom: 0;
					padding-bottom: 0;
					margin-top: 0;
				}
				b{
					font-weight: bold;
					font-size: 24px;
					display: inline-block;
					width: 100%;
				}
			}
			.infor-price{
				ul{
					padding-left: 20px;
				}
				p{
					font-weight: bold;
					padding: 0 15px;
				}
			}
			.title-infor{
				ul{
					padding-left: 0;
					margin-bottom: 0;
					li{
						position: relative;
						&::after{
							background: $yellow;
							width: 5px;
							height: 5px;
							content: '';
							display: block;
							border-radius: 50%;
							position: absolute;
							left: 15px;
							top: 15px;
						}
					}
				}
				i{
					display: none;
				}
			}
		}
		.row{
			margin: 0 !important;
			.col-md-6{
				&:nth-child(2){
					border-left: 0 !important;
					background: #F5F7FB;
				}
			}
			
		}
		.col-md-6{
			&:nth-child(2){
				.row{
					.col-md-6{
						border: 0 !important;
						&:nth-child(1){
							background: #4A5478 !important;
						}
						&:nth-child(2){
							background: #353F60 !important;
						}
						h6{
							border-bottom: 1px solid #5F6A92 !important;
							color: white;
						}
						span, i, b, p, label{
							color: white;
						}
						p{
							b{
								color: white !important;
							}
						}
					}
				}
			}
		}
	}
	h6{
		font-size: 18px;
		color: $text;
		display: inline-block;
		width: 100%;
		padding: 15px;
		margin-bottom: 0;
		border-bottom: 1px solid $border;
		span{
			font-size: 13px;
			font-weight: normal;
			display: inline-block;
			width: 100%;
		}
	}
	.price-head{
		padding:5px 15px;
		display: inline-block;
		width: 100%;
		label{
			font-size: 13px;
			display: inline-block;
		width: 100%;
		margin-bottom: 0;
			color: $text-alpha;
		}
		b{
			font-size: 20px;
			color: $yellow !important;
			font-weight: bold;
			display: inline-block;
		width: 100%;
			span{
				font-size: 13px;
			}
		}
		a{
			display: inline-block;
			width: 100%;
			padding: 7px;
			height: 38px;
			background: #F36D21;
			color: white;
			text-align: center;
			margin: 10px 0;
			&:hover{
				background: #ff6c58;
			}
		}
		p{
			color: $yellow;
			span{
				color: $text-alpha;
			}
			i{
				display: inline-block;
				color: $text-alpha;
			width: 100%;
			font-style: normal;
			}
			b{
				display: inline-block;
				width: initial !important;
			}
		}
	}
}

.menu-sidebar-page{
	position: absolute;
	left: 0;
	top: 0;
	width: 180px;
	background: $brand;
	height: 100%;
	padding: 0;
	h2{
		color: #BAC1DA;
		font-weight: bold;
		display: inline-block;
		width: 100%;
		font-size: 16px;
		padding: 15px;
		text-transform: uppercase;
		padding-bottom: 0;
	}
	nav{
		ul{
			li{
				display: inline-block;
				width: 100%;
				a{
					padding: 12px 15px;
					display: inline-block;
					width: 100%;
					img{
						width: 22px;
						margin-right: 5px;
						opacity: .7;
					}
					span{
						color: #BAC1DA;
						font-size: 13px;
					}
				}
				&:hover{
					background: #424c6d;
					a{
						img{
							opacity: 1;
						}
						span{
							color: white;
						}
					}
				}
				&.active{
					background: $yellow;
					span{
						color: white;
					}
					img{
						opacity: 1;
					}
				}
			}
		}
	}
}
.infor-lager{
	h1{
		a{
			&:hover{
				color: $yellow;
			}
		}
	}
	span{
		margin-bottom: 15px;
	}
	p{
		margin-top: 15px;
	}
}
.table-product{
	display: block;
	max-width: 100%;
}

.result-search{
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: $yellow;
	margin-top: 10px;
	margin-bottom: 25px;
	position: relative;
	min-height: 20px;
	.filter-table{
		position: absolute;
		right: 0px;
		display: flex;
		top: 5px;
		border: 1px solid $border;
		padding: 5px 10px;
		cursor: pointer;
		a{
			&:hover{
				border: 1px solid $yellow;
				i, span{
					color: $yellow;
				}
			}
		}
		i{
			color: $text-alpha;
			font-size: 12px;
			margin-right: 4px;
			margin-top: 3px;
		}
		span{
			color: $text-alpha;
		}
		button{
			background: none;
			box-shadow: none;
			border: 0;
			min-width: 70px;
			display: none;
			&.filter-show{
				display: block;
				
			}
		}
	}
}
.search-product{
	display: block;
	max-width: 700px;
	height: 40px;
	border: 1px solid $border;
	padding: 0 10px;
	position: relative;
	margin: auto;
	width: 100%;
	padding-left: 40px;
	margin-top: 10px;
	i{
		color: $text-alpha;
		font-size: 15px;
		position: absolute;
		left: 13px;
		top: 10px;
	}
	input{
		width: 100%;
		margin-top: 5px;
		height: 30px;
		border: 0;
		font-size: 13px;
		display: inline-block;
	}
}
.view-description{
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
	height: 27px;
	width: 400px;
	position: relative;
	padding-right: 100px !important;
	span{
		position: absolute;
		cursor: pointer;
		right: 0;
		top: 7px;
		color: $yellow;
		font-size: 12px;
		i{
			font-size: 9px;
			color: $yellow;
		}
	}
	&.active{
		display: table-cell !important;
    -webkit-line-clamp: initial !important;
    -webkit-box-orient: initial !important;
    overflow: initial !important;
	padding-right: 0 !important;
	height: initial !important;
	span{
		display: none;
	}
	}
}
.cate-detail{
	li{
		a{
			position: relative;
			padding-left: 29px !important;
			&:before{
				content: '';
				display: block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				position: absolute;
				left: 15px;
				top: 20px;
				background: #8591B8;
			}
		}
		&.active{
			a{
				&::before{
					background: white;
				}
			}
		}
	}
}
.view-description-thead{
	width: 400px;
}
.table-content-cart.table-backlink{
	table{
		min-width: 1770px !important;
	}
}
.price-design-body{
	h6{
		min-height: initial !important;
	}
	i{
		&.mdi.mdi-check-circle{
			color: #23ce4a;
			font-size: 25px;
		}
		&.mdi.mdi-close-circle{
			color: #ff6c58;
			font-size: 25px;
		}
	}
}
.body-page-cart{
	display: inline-block;
	width: 100%;
	min-height: 900px;
	background: white;
	border-bottom: 1px solid $border;
	padding: 0 !important;
	.container{
		max-width: 1700px;
	}
}
.inor-bank{
	padding: 15px;
	display: inline-block;
	padding-right: 0;
	width: 100%;
	padding-bottom: 0;
	p{
		display: inline-block;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $border;
		b{
			font-weight: 900;
			display: inline-block;
			width: 100%;
		}
		&:nth-last-child(1){
			margin-bottom: 0;
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}
.sumary-table{
	max-width: 627px;
	margin-top: 15px;
	float: right;
	.checkbox-status .styled-checkbox:checked + label:before {
		border: 1px solid #F36D21;
	}
	.checkbox-status .styled-checkbox:checked + label:after {
		color: #F36D21;
	}
	.pos-check-content{
		padding-left: 0 !important;
		
		label{
			color: $text !important;
		}
	}
	.col-vat{
		border: 1px solid $border;
		padding: 15px;
		input, textarea{
			padding: 5px 10px;
			font-size: 13px;
			height: 35px;
			color: $text;
			width: 100%;
			display: inline-block;
			border: 1px solid $border;
		}
		textarea{
			height: 70px;
		}
	}
	.filed-vat{
		display: inline-block;
		width: 100%;
		margin-top: 15px;
	}
}
.col-sumary-price{
	.coupon-box{
		input{
			padding: 5px 10px;
			font-size: 13px;
			height: 35px;
			color: $text;
			width: 100%;
			display: inline-block;
			border: 1px solid $border;
		}
	}
	p{
		display: inline-block;
		width: 100%;
		margin-bottom: 5px;
		background: $bg;
		padding: 5px 10px;
		span{
			float: left;
			margin-top: 3px;
		}
		b{
			float: right;
			font-weight: 900;
			font-size: 16px;
		}
	}
}
.payment-box{
	display: inline-block;
	width: 100%;
	border: 1px solid $border;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	.form-check{
		display: inline-block;
		width: 100%;
		margin-bottom: 15px;
		input{
			height: 23px !important;
			width: 23px !important;
		}
		label{
			padding-left: 15px;
			font-size: 14px;
			margin-top: 5px;
			img{
				width: 24px;
    			margin-right: 3px;
			}
		}
		&:nth-last-child(1){
			margin-bottom: 0 !important;
		}
	}
}
.file-total-final{
	display: inline-block;
	width: 100%;
	border-top: 1px solid $border;
	padding-top: 15px;
	label{
		float: left;
		font-weight: 500;
		font-size: 15px;
		margin-top: 4px;
	}
	b{
		float: right;
		font-size: 22px;
		font-weight: 900;
		color: $yellow;
	}
}
.col-sumary-price{
	width: 100%;
}
.login-body{
	display: inline-block;
	width: 100%;
	.bg-login{
		background: url(../images/bg-login.png) no-repeat center top;
		background-size: cover;
		display: inline-block;
		width: 100%;
		height: 100vh;
	}
}
.bg-contact{
	background: url(../images/contact-bg.png) no-repeat center top;
	background-size: cover;
	display: inline-block;
	width: 100%;
	height: 100vh;
}
.bg-login{
	.logo{
		padding: 15px;
		img{
			width: 120px;
		}
	}
}
.content-login{
	display: inline-block;
	width: 100%;
	h2{
		text-transform: uppercase;
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 30px;
		span{
			text-transform: none;
			display: inline-block;
			width: 100%;
			margin-top: 10px;
			color: $text-alpha;
			font-size: 13px;
		}
	}
}
.forget-pass{
	margin-bottom: 10px;
	text-align: right;
	display: inline-block;
	width: 100%;
	a{
		font-size: 13px;
		color: $text-alpha;
	}
}
.btn-linked.btn-login{
	button{
		background: #0574b3 !important;
		img{
			width: 20px;
		}
		span{
			text-transform: none;
		}
		&:hover{
			background: #0574b3 !important;
		}
	}
}
body.page-login{
	padding-bottom: 0;
}
.or-line{
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
	&::before{
		position: absolute;
		content: '';
		display: inline-block;
		width: 100%;
		left: 0;
		top: 14px;
		height: 1px;
		background: $border;
	}
	span{
		background: white;
		padding: 4px 15px;
		z-index: 9999;
		width: 70px;
		height: 40px;
		display: inline-block;
		position: relative;
		text-transform: uppercase;
	}
}
.form-login{
	height: 100vh;
	max-width: 400px;
	padding: 30px;
	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	input{
		height: 40px;
		border: 1px solid $border;
		border-radius: 0;
		font-size: 14px;
		padding: 5px 10px;
	}
	textarea{
		width: 100%;
		height: 100px;
		padding: 10px;
		border: 1px solid $border;
	}
}
.bg-contact2{
	width: 100%;
	img{
		width: 100%;
	}
}
.contact-body{
	width: 100%;
	display:inline-block;
	background: white;
	padding-bottom: 60px;
}
.box-contact{
	display: inline-block;
	width: 100%;
	background: #FFFFFF;
box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
form{
	input{
		height: 50px !important;
	}
}
}
.content-contact{
	padding: 0 !important;
    height: initial !important;
    float: none !important;
    margin: auto;
    max-width: 470px !important;
    margin-top: 10%;

}
.btn-login{
	display: inline-block;
	width: 100%;
	p{
		text-align: right;
		display: inline-block;
		width: 100%;
		margin-top: 15px;
		a{
			color: #ff6c58;
		}
	}
	button{
		display: inline-block;
		width: 100%;
		border-radius: 0;
		border: 0;
		text-transform: uppercase;
		height: 40px;
		background: $yellow !important;
		&:hover{
			background: #ff7462 !important;
		}
	}
}
.btn-action-pay{
	width: 100%;
	display: inline-block;
	button{
		width: 100%;
		height: 54px;
		font-size: 15px;
		font-weight: bold;
		display: inline-block;
		color: white;
		text-transform: uppercase;
		text-align: center;
		background: $yellow;
		margin-bottom: 30px;
	}
}
.coupon-box{
	border: 1px solid $border;
	height: 30px;
	border: 1px solid $border;
	padding: 0 10px;
	margin-bottom: 15px;
	position: relative;
	padding-right: 40px;
	input{
		height: 28px !important;
		width: 100%;
		padding: 0 !important;
		border: 0 !important;
	}
	button{
		position: absolute;
		right: 0;
		top: 0;
		border-left: 1px solid $border;
		width: 40px;
		height: 27px;
		text-align: center;
		&:hover{
			background: $bg;
		}
		img{
			width: 21px;
		}
	}
}
.checkbox-status{
	margin: 0px 0 0 0;
    float: left;
    height: 21px;
	padding: 0 !important;
	label{
		&::before{
			border: 1px solid $border;
		}
		span{
			margin-top: 3px;
			float: right;
			color: $border;
			position: relative;
			&::before{
				position: absolute;
				left: -12px;
				top: 6px;
				width:8px;
				height:8px;
				content: '';
				display: block;
				border-radius: 50%;
				background: #76BA69;
			}
			.styled-checkbox:checked + label:before {
				background: #fff;
				border: 1px solid $border !important;
			}
			&.occupied{
				color: $border;
				&::before{
					background: $border;
				}
				.styled-checkbox:checked + label:before {
					background: #fff;
					border: 1px solid $border !important;
				}
			}
			&.reserved{
				color: $yellow;
				&::before{
					background: $yellow;
				}
				.styled-checkbox:checked + label:before {
					background: #fff;
					border: 1px solid $yellow !important;
				}
			}
		}
	}
	.styled-checkbox {
		position: absolute; // take it out of document flow
		opacity: 0; // hide it
	  
		& + label {
		  position: relative;
		  cursor: pointer;
		  padding: 0;
		  
		}
	  
		// Box.
		& + label:before {
		  content: '';
		  margin-right:5px;
		  display: inline-block;
		  vertical-align: text-top;
		  width: 20px;
		  border-radius: 2px;
		  height: 20px;
		  background: none;
		}
	  
		
		
		
		// Box checked
		&:checked + label:before {
		  background: #fff;
		  border: 1px solid $brand;
		}
		
		// Disabled state label.
		&:disabled + label {
		  color: #b8b8b8;
		  cursor: auto;
		}
	  
		// Disabled box.
		&:disabled + label:before {
		  box-shadow: none;
		  background: #fff;
		  
		}
	  
		// Checkmark. Could be replaced with an image
		&:checked + label:after {
			content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 6px;
	color: $brand;
    background: white;
    height: 13px;
    box-shadow: none !important;
    border: solid ;
    border-width: 0 2px 2px 0;
    transform: rotate(
45deg
);
		}
	  }
	  .available{
		span{
			color: $border;
			&::before{
				background: $border;
			}
		}
		.styled-checkbox {
			// Box hover
			&:hover + label:before {
			  background: #fff;
			  border: 1px solid $border;
			}
			
			
			// Box checked
			&:checked + label:before {
			  background: #fff;
			  border: 1px solid $border;
			}
			

			// Disabled state label.
			&:disabled + label {
			  color: #b8b8b8;
			  cursor: auto;
			}
		  
			// Disabled box.
			&:disabled + label:before {
			  box-shadow: none;
			  background: #fff;
			}
		  
			// Checkmark. Could be replaced with an image
			&:checked + label:after {
				content: '';
				display: block;
				position: absolute;
				top: 3px;
				left: 8px;
				width: 6px;
				background: white;
				color: $border;
				height: 14px;
				box-shadow: none !important;
				border: solid $border;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);	
			}
		  }
	  }
}
.table-content-cart{
	display: inline-block;
	width: 100%;
	border: 1px solid $border;
	table{
		margin-bottom: 0;
		min-width: 1460px;
		thead{
			background: #d3ddea;
			th{
				color: $text;
				padding:10px;
				position: relative;
				border-top: 0;
				font-size: 12px;
				border-bottom: 0 !important;
				&:nth-child(1){
					width: 25px;
					text-align: center;
				}
				&:hover{
					cursor: pointer;
					color: $yellow;
					span{
						overflow: initial !important;
						opacity: 1 !important;
						display: block !important;
					}
				}
				span{
					position: absolute;
					width: 300px;
					background: $brand;
					top:28px;
					left: 0;
					border-radius: 6px;
					z-index: 9;
					overflow: hidden;
					opacity: 0;
					padding: 10px;
					font-weight: normal;
					color: white;
					display: none;
					text-align: justify;
					img{
						position: absolute;
						top: -6px;
						left: 7px;
						width: 14px;
					}
				}
			}
		}
		tbody{
			tr{
				td{
					padding: 10px;
					vertical-align: middle;
					font-size: 12px;
					&:nth-child(1){
						width: 25px;
						text-align: center;
					}
					i{
						&.dripicons-trash{
							font-size: 14px;
							cursor: pointer;
							color: #ff6c58;
						}
					}
				}
				&:nth-child(even){
					background: $bg;
				}
				&:hover{
					background: #e9f3ff;
				}
			}
		}
	}
}
.brand-ads{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	img{
		height: 60px;
		margin: 0 10px;
	}
}
th{
	.checkbox-status label::before {
		border: 1px solid $text !important;
	}
}
.digital-body{
	ul{
		&.nav.nav-tabs{
			border-bottom: 1px solid #dee2e6;
			display: inline-block;
			text-align: center;
			width: 100%;
			li{
				display: inline-block;
				margin: 0;
				a{
					text-transform: uppercase;
					font-size: 13px;
					font-weight: bold;
					border: 0 !important;
					&.active{
						color: $yellow;
						border-bottom: 1px solid $yellow !important;
					}
				}
			}
		}
	}
}
.body-page{
	padding-left: 200px;
    min-height: 1000px;
    display: inline-block;
    width: 100%;
    position: relative;
    padding-top: 0px;
    padding-right: 15px;
    z-index: 9;
    background: white;
	padding-bottom: 0 !important;
}
.section-location{
	display: inline-block;
	width: 100%;
}
.owl-dots {
    margin-top: -30px !important;
    position: relative;
    z-index: 1;
}
header{
	display: flex;
    width: 100%;
    background: #ffffff;
    justify-content: space-between;
}
.digi-slider{
	padding:  0;
	float: left;
	width: 100%;
	.item-slider{
		display: inline-block;
		width: 100%;
		h1{
			color: white;
		}
		p{
			color: white;
		}
	}
}
section{
	z-index: 1;
}
footer{
	z-index: 0;
	.col-md-12{
		text-align: center;
		p{
			color: white !important;
			border-top: 1px solid #3F3F3F;
			padding-top: 10px !important;
			display: inline-block;
			width: 100%;
			margin-top: 20px;
		}
	}
}
.digi-section2{
	float: left;
	width: 100%;
	background: $brand;
	padding: 50px;
}
.img-slider{
	float: left;
	width: 100%;
}
.owl-theme .owl-nav {
    margin-top: 0;
	button{
		position: absolute;
		width: 100%;
		top: 10%;
		opacity: .5;
		
		span{
			display: none;
		}
		&.owl-prev{
			left: 0;
			top: 36%;
			&::after{
				content: "\e64a";
				display: block;
				font-size: 50px;
				font-family: 'themify';
				position: absolute;
				top: 20%;
				left: 0;
			}
		}
		&.owl-next{
			right: 0;
			top: 36%;
			&::after{
				content: "\e649";
				display: block;
				font-size: 50px;
				font-family: 'themify';
				position: absolute;
				top: 20%;
				right: 0;
			}
		}
	}
}
.owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 3px;
    margin: 5px 7px;
    background: #D6D6D6;
    border-radius: 60px;
	
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $yellow;
}
.owl-dots{
	margin-top: 10px;
}
.infor-slider{
    width: 40%;
    position: absolute;
	top: 0;
    height: 100%;
	left: 4%;

	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	h1{
		font-size: 32px;
	}
	p{
		font-size: 18px;
		color: $text-alpha;
		display: inline-block;
		width: 100%;
		line-height: 30px;
		margin-bottom: 30px;
	}
	
}
.item-services{
	height: 100%;
	background: white;
	display: inline-block;
	width: 100%;
	padding: 20px;
	img{
		height: 60px;
		margin-bottom: 15px;
	}
	h6{
		margin-bottom: 10px;
		a{
			font-size: 18px;
			color: $text;
		}
		&:hover{
			a{
				color: $yellow;
			}
		}
	}
	p{
		color: $text-alpha;
	}
	ul{
		margin-bottom: 20px;
		display: inline-block;
		width: 100%;
		li{
			position: relative;
			list-style: none;
			margin-bottom: 10px;
			padding-left: 16px;
			i{
				font-size: 10px;
				color: $yellow;
				position: absolute;
				left: 0;
				top: 7px;
			}
			span{
				font-size: 12px;
				color: $text-alpha;
			}
		}
	}
}
.digi-section-4{
	background: $bg;
	float: left;
	width: 100%;
	.title-section{
		margin-bottom: 50px;
		h2, p{
			color: $text;
		}
	}
	
}
.content-blogs{
	padding-left: 290px;
	position: relative;
}
.cate-blogs-homepage{
	width: 250px;
	position: absolute;
	top: 0;
	left: 0;
	.button-action{
		text-align: right;
	}
	h5{
		display: inline-block;
		width: 100%;
		font-size: 15px;
		text-transform: uppercase;
		color: $yellow;
	}
	ul{
		padding-left: 0;
		li{
			list-style: none;
			margin-bottom: 10px;
			a{
				background: white;
				height: 70px;
				width: 100%;
				display: flex;
				align-content: center;
				-ms-flex-pack: center !important;
				-ms-flex-align: center !important;
				align-items: center !important;
				transition: all .3s ease-in-out;
				font-size: 15px;
				padding: 10px 15px;
				position: relative;
				&::before{
					content: '';
					display: inline-block;
					width: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 2px;
					height: 70px;
					background: $brand;
				}
			}
			&:hover{
				a{
					color: $yellow;
					&::before{
						background: $yellow;
					}
				}
			}
		}
	}
}
.list-menu-footer{
	h5{
		color: $text;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
	}
	p{
		color: $text-alpha;
		font-size:13px;
	}
	.social-footer{
		display: inline-block;
		width: 100%;
		a{
			float: left;
			width: initial;
		}
		i{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			text-align: center;
			padding-top: 8px;
			font-size: 12px;
			display: inline-block;
			margin-right: 10px;
			color: $text-alpha;
			border: 1px solid $border;
			&:hover{
				background: $yellow;
					color: white;
					border: 1px solid $yellow;
			}
		}
		
	}
	a{
		font-size: 13px;
		display: inline-block;
		width: 100%;
		color: $text-alpha;
		padding: 10px 0;
		margin: 0;
		&:hover{
			color: $yellow;
		}
	}
}
.mt-50{
	margin-top: 50px;
}
.mt-30{
	margin-top: 30px;
}
footer{
	background: url(../images/bg-footer.png) no-repeat center top;
	float: left;
	width: 100%;
	padding: 30px 20px 0 20px;
	position: relative;
    bottom: 0;
	left: 0;
	.infor-footer{
		img{
			margin-bottom: 5px;
		}
		p{
			font-size: 14px;
			display: flex;
			width: 100%;
			color: white;
			margin-top: 10px;
			margin-bottom: 0;
			img{
				margin-right: 10px;
			}
		}
		span{
			color:white;
			font-size: 14px;
			display: inline-block;
			width: 100%;
		}
		b{
			font-weight: bold;
			font-size: 22px;
			display: inline-block;
			width: 100%;
			color: $yellow;
		}
	}
}

.pagination li {
	margin-right: 10px;
	margin-top: 10px;
}

.pagination li:last-child {
	margin-right: 0
}

.pagination li a {
	font-size: 12px;
    font-weight: 700;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border-radius: 0;
    color: $text-alpha;
    border: 1px solid white;
	-webkit-transition: all .3s linear;
	transition: all .3s linear
}

.pagination li a.current,
.pagination li a:hover {
	color: $yellow;
	border: 1px solid $yellow;
}
.digi-section-3{
	background: linear-gradient(270deg, #F36D21 24.85%, #FFBD77 100%);
	float: left;
	width: 100%;
	h5{
		text-transform: uppercase;
		color: white;
		display: inline-block;
		width: 100%;
		text-align: center;
		margin-bottom: 25px;
		margin-top: 20px;
	}
	.digi-partner-content{
		display: inline-block;
		width: 100%;
		text-align: center;
		img{
			margin: 10px 15px;
			height: 30px;
		}
	}
	hr{
		background: white;
		opacity: .3;
	}
	.col-md{
		margin: 30px 0 0 0;
		text-align: center;
		img{
			margin-bottom: 15px;
		}
		h6{
			color: white;
			font-size: 70px;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		p{
			color: white;
		}
	}
}
.cancel-filter{
	background: $border !important;
	color: $text !important;
	border: 1px solid $border !important;
	&:hover{
		background: $bg !important;
	}
}
.button-action{
	display: inline-block;
	width: 100%;
	a, button{
		padding: 16px 25px;
		font-size: 12px;
		text-transform: uppercase;
		background: #F36D21;
		outline: none;
		display: inline-block;
		color: white;
		min-width: 100px;
		border: 1px solid #F36D21;
		i{
			color: white;
		}
		&:hover{
			background: white;
			color: $yellow;
			i{
				color: $yellow;
			}
		}
	}
}
.right-head{
	float: right;
    background: $green;
    padding: 8px 15px;
    padding-left: 20px;
    display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
    margin: 6px 15px;
	a{
		color: white;
		display: inline-block;
	}
	.search, .accout-head, .cart-head{
		display: inline-block;
		padding: 0 15px;
	}
	.cart-head{
		cursor: pointer;
	}
}
.logo-menu{
	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
}
.body-menu{
	float: left;
	padding: 5px 20px;
	.logo{
		margin-right: 20px;
	}
	nav{
		ul{
			li{
				a{
					font-size: 16px;
					font-weight: bold;
					&:hover, &.active{
						color: $yellow;
					}
				}
			}
		}
	}
}
.cart-head{
	position: relative;
	img{
		height: 20px;
	}
	span{
		position: absolute;
		right: 0;
		top: -5px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		text-align: center;
		line-height: 20px;
		color: white;
		background: $yellow;
	}
}
@media (min-width:1200px) {
	.container {
		max-width: 1200px
	}
}

@media (min-width:768px) and (max-width:1200px) {
	.container {
		max-width: 100%
	}
}
.menu-close-mb, .menu-cate-mb{
	display: none;
}
@media (min-width:320px) and (max-width:767px) {
	body,
	html {
		overflow-x: hidden
	}
	.menu-close-mb, .menu-cate-mb{
		display: block;
	}
}



.sticky-top {
	z-index: 500
}

.row-no-gutter {
	margin-left: 0;
	margin-right: 0
}

.row-no-gutter>[class*=col] {
	padding-right: 0;
	padding-left: 0
}

.inner-padding {
	padding: 65px
}

.box-shadow-none {
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}

.background-banner {
	min-height: 500px
}

.bg-size-auto {
	background-size: auto!important
}

.bg-top-right {
	background-position: top right!important
}

.bg-no-repeat {
	background-repeat: no-repeat!important
}

.bg-bottom-center {
	background-position: bottom center!important
}

.width-auto {
	width: auto!important
}

.fz-13 {
	font-size: 13px!important
}

.fz-14 {
	font-size: 14px!important
}

.fz-16 {
	font-size: 16px!important
}

.fz-25 {
	font-size: 25px!important
}

.font-secondary {
	font-family: Roboto, sans-serif
}

.lh-1 {
	line-height: 1!important
}

.list-inline>li {
	display: inline-block
}

.align-v {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-align: center!important;
	-ms-flex-align: center!important;
	align-items: center!important
}

.align-v-h {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-pack: center!important;
	-ms-flex-pack: center!important;
	justify-content: center!important;
	-webkit-box-align: center!important;
	-ms-flex-align: center!important;
	align-items: center!important
}

.border-top {
	border-top: 1px solid #e7ebef!important
}

.border-bottom {
	border-bottom: 1px solid #e7ebef!important
}

.divider {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 2px;
	background-color: #e7ebef
}

.divider-sm {
	width: 20px;
	height: 2px
}

.divider-xl {
	width: 130px
}

.divider-primary {
	background-color: #1B2954
}

.divider-secondary {
	background-color: #1B2954
}

.divider-white {
	background-color: #fff
}

.minwidth-120 {
	min-width: 120px!important
}

.minwidth-170 {
	min-width: 170px!important
}

.z-index-2 {
	z-index: 2!important
}

.mt--50 {
	margin-top: -50px
}

.mt--80 {
	margin-top: -80px
}

.mt--90 {
	margin-top: -90px
}

.mt--100 {
	margin-top: -80px
}

.mt--120 {
	margin-top: -120px
}

.mt--130 {
	margin-top: -130px
}

.mt--140 {
	margin-top: -140px
}

.mt--170 {
	margin-top: -170px
}

.mt--200 {
	margin-top: -200px
}

.mt--210 {
	margin-top: -210px
}

.mt-0 {
	margin-top: 0!important
}

.mt-5 {
	margin-top: 5px!important
}

.mt-10 {
	margin-top: 10px!important
}

.mt-20 {
	margin-top: 20px!important
}

.mt-30 {
	margin-top: 30px!important
}

.mt-40 {
	margin-top: 40px!important
}

.mt-50 {
	margin-top: 50px!important
}

.mt-60 {
	margin-top: 60px!important
}

.mt-70 {
	margin-top: 70px!important
}

.mt-80 {
	margin-top: 80px!important
}

.mt-90 {
	margin-top: 90px!important
}

.mt-100 {
	margin-top: 100px!important
}

.mt-120 {
	margin-top: 120px!important
}

.mt-150 {
	margin-top: 150px!important
}

.mb-0 {
	margin-bottom: 0!important
}

.mb-5 {
	margin-bottom: 5px!important
}

.mb-10 {
	margin-bottom: 10px!important
}

.mb-20 {
	margin-bottom: 20px!important
}

.mb-25 {
	margin-bottom: 25px!important
}

.mb-30 {
	margin-bottom: 30px!important
}

.mb-40 {
	margin-bottom: 40px!important
}

.mb-45 {
	margin-bottom: 45px!important
}

.mb-50 {
	margin-bottom: 50px!important
}

.mb-60 {
	margin-bottom: 60px!important
}

.mb-70 {
	margin-bottom: 70px!important
}

.mb-80 {
	margin-bottom: 80px!important
}

.mb-90 {
	margin-bottom: 90px!important
}

.mb-100 {
	margin-bottom: 100px!important
}

.mb-120 {
	margin-bottom: 120px!important
}

.mb-130 {
	margin-bottom: 130px!important
}

.mt--100 {
	margin-top: -100px
}

.mr-0 {
	margin-right: 0!important
}

.mr-20 {
	margin-right: 20px!important
}

.mr-30 {
	margin-right: 30px!important
}

.mr-40 {
	margin-right: 40px!important
}

.mr-50 {
	margin-right: 50px!important
}

.ml-0 {
	margin-left: 0!important
}

.ml-20 {
	margin-left: 20px!important
}

.ml-30 {
	margin-left: 30px!important
}

.ml-40 {
	margin-left: 40px!important
}

.ml-50 {
	margin-left: 50px!important
}

.pb-10 {
	padding-top: 10px!important
}

.pt-20 {
	padding-top: 20px!important
}

.pt-30 {
	padding-top: 30px!important
}

.pt-40 {
	padding-top: 40px!important
}

.pt-50 {
	padding-top: 50px!important
}

.pt-60 {
	padding-top: 60px!important
}

.pt-70 {
	padding-top: 70px!important
}

.pt-80 {
	padding-top: 80px!important
}

.pt-90 {
	padding-top: 90px!important
}

.pt-100 {
	padding-top: 100px!important
}

.pt-110 {
	padding-top: 110px!important
}

.pt-120 {
	padding-top: 120px!important
}

.pt-130 {
	padding-top: 130px!important
}

.pt-140 {
	padding-top: 140px!important
}

.pt-150 {
	padding-top: 150px!important
}

.pt-170 {
	padding-top: 170px!important
}

.pb-10 {
	padding-bottom: 10px!important
}

.pb-20 {
	padding-bottom: 20px!important
}

.pb-30 {
	padding-bottom: 30px!important
}

.pb-40 {
	padding-bottom: 40px!important
}

.pb-50 {
	padding-bottom: 50px!important
}

.pb-60 {
	padding-bottom: 60px!important
}

.pb-70 {
	padding-bottom: 70px!important
}

.pb-80 {
	padding-bottom: 80px!important
}

.pb-90 {
	padding-bottom: 90px!important
}

.pb-100 {
	padding-bottom: 100px!important
}

.pb-110 {
	padding-bottom: 110px!important
}

.pb-120 {
	padding-bottom: 120px!important
}

.pb-130 {
	padding-bottom: 130px!important
}

.pb-140 {
	padding-bottom: 140px!important
}

.pb-150 {
	padding-bottom: 150px!important
}

.pb-170 {
	padding-bottom: 170px!important
}

.pb-120 {
	padding-bottom: 120px!important
}

.pb-220 {
	padding-bottom: 220px!important
}

.pr-0 {
	padding-right: 0!important
}

.pr-15 {
	padding-right: 15px!important
}

.pr-20 {
	padding-right: 20px!important
}

.pr-30 {
	padding-right: 30px!important
}

.pr-50 {
	padding-right: 50px!important
}

.pr-60 {
	padding-right: 60px!important
}

.pr-70 {
	padding-right: 70px!important
}

.pr-100 {
	padding-right: 100px!important
}

.pl-0 {
	padding-left: 0!important
}

.pl-15 {
	padding-left: 15px!important
}

.pl-20 {
	padding-left: 20px!important
}

.pl-30 {
	padding-left: 30px!important
}

.pl-50 {
	padding-left: 50px!important
}

.pl-60 {
	padding-left: 60px!important
}

.pl-70 {
	padding-left: 70px!important
}

.pl-100 {
	padding-left: 100px!important
}

.max-width-1300 {
	max-width: 1300px!important
}

@media (min-width:1500px) {
	.inner-padding {
		padding: 110px
	}
}

@media (max-width:1200px) {
	.inner-padding {
		padding: 30px!important
	}
}

@media (max-width:992px) {
	
	.page-detail-services .page-title .row {
		width: 100%;
		margin: 0;
	}
	.breadcrumb.mt-80 {
		margin: 0 0 20px 0 !important;
	}

	.page-title{
		.row, .col-12, .col-md-7, .infor-services, .col-md-5{
			margin: 0 !important;
			padding: 0 !important;
		}
	}
	.infor-services h1 {
		text-align: left;
		color: white;
		font-size: 32px;
		margin: 15px 0;
	}
	.mt-30 {
		margin-top: 20px!important
	}
	.mt-40 {
		margin-top: 20px!important
	}
	.mt-50 {
		margin-top: 25px!important
	}
	.mt-60 {
		margin-top: 30px!important
	}
	.mt-70 {
		margin-top: 35px!important
	}
	.mt-80 {
		margin-top: 40px!important
	}
	.mt-90 {
		margin-top: 45px!important
	}
	.mt-100 {
		margin-top: 50px!important
	}
	.mt-120 {
		margin-top: 60px!important
	}
	.mt-150 {
		margin-top: 75px!important
	}
	.mb-30 {
		margin-bottom: 15px!important
	}
	.mb-40 {
		margin-bottom: 20px!important
	}
	.mb-50 {
		margin-bottom: 25px!important
	}
	.mb-60 {
		margin-bottom: 30px!important
	}
	.mb-70 {
		margin-bottom: 35px!important
	}
	.mb-80 {
		margin-bottom: 40px!important
	}
	.mb-90 {
		margin-bottom: 45px!important
	}
	.mb-100 {
		margin-bottom: 50px!important
	}
	.mb-120 {
		margin-bottom: 60px!important
	}
	.mb-130 {
		margin-bottom: 65px!important
	}
	.mr-30 {
		margin-right: 15px!important
	}
	.mr-40 {
		margin-right: 20px!important
	}
	.mr-50 {
		margin-right: 25px!important
	}
	.ml-30 {
		margin-left: 15px!important
	}
	.ml-40 {
		margin-left: 20px!important
	}
	.ml-50 {
		margin-left: 25px!important
	}
	.pt-30 {
		padding-top: 15px!important
	}
	.pt-40 {
		padding-top: 20px!important
	}
	.pt-50 {
		padding-top: 25px!important
	}
	.pt-60 {
		padding-top: 30px!important
	}
	.pt-70 {
		padding-top: 35px!important
	}
	.pt-80 {
		padding-top: 40px!important
	}
	.pt-90 {
		padding-top: 45px!important
	}
	.pt-100 {
		padding-top: 50px!important
	}
	.pt-110 {
		padding-top: 55px!important
	}
	.pt-120 {
		padding-top: 60px!important
	}
	.pt-130 {
		padding-top: 70px!important
	}
	.pt-140 {
		padding-top: 70px!important
	}
	.pt-150 {
		padding-top: 75px!important
	}
	.pt-160 {
		padding-top: 80px!important
	}
	.pt-170 {
		padding-top: 85px!important
	}
	.pb-30 {
		padding-bottom: 15px!important
	}
	.pb-40 {
		padding-bottom: 20px!important
	}
	.pb-50 {
		padding-bottom: 25px!important
	}
	.pb-60 {
		padding-bottom: 30px!important
	}
	.pb-70 {
		padding-bottom: 35px!important
	}
	.pb-80 {
		padding-bottom: 40px!important
	}
	.pb-90 {
		padding-bottom: 45px!important
	}
	.pb-100 {
		padding-bottom: 50px!important
	}
	.pb-110 {
		padding-bottom: 55px!important
	}
	.pb-120 {
		padding-bottom: 60px!important
	}
	.pb-130 {
		padding-bottom: 65px!important
	}
	.pb-140 {
		padding-bottom: 70px!important
	}
	.pb-150 {
		padding-bottom: 75px!important
	}
	.pb-160 {
		padding-bottom: 80px!important
	}
	.pb-170 {
		padding-bottom: 85px!important
	}
	.btn-services-action a {
		width: 50%;
		background: white;
		text-transform: uppercase;
		color: #1B2954;
		font-size: 13px;
		border: 1px solid white;
		margin-right: 10px;
		height: 50px;
		padding-top: 15px;
		font-weight: 700;
	}
	.logo{
		display:inline-block;
	}
	.body-menu {
		width: 100%;
	}
	.menu-button i{
		color: $text-alpha !important;
	}
	.right-head a {
		margin-top: 0px;
	}
	.accout-head {
		display: inline-block;
		padding: 0 15px;
		position: fixed;
		top: 10px;
		right: 60px;
		img{
			width: 32px;
		}
	}
	
	.search{
		display: none !important;
	}
	.right-head {
		position: fixed;
		right: 0;
	}
}
.title-section{
	display: inline-block;
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
	h2{
		color: white;
		font-size: 32px;
		font-weight: normal;
		b{
			font-weight: bold;
			text-transform: none;
			font-size: 32px;
		}
	}
	p{
		max-width: 1000px;
		text-align: center;
		margin: auto;
		color: white;
	}
}

@media (min-width:768px) and (max-width:991px) {
	section {
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (min-width:320px) and (max-width:767px) {
	section {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.inner-padding {
		padding: 20px!important
	}
	.text-center-xs-sm {
		text-align: center!important
	}
	.mt-0-xs-sm {
		margin-top: 0!important
	}
}

.color-white {
	color: #fff!important
}

.color-white-hover:hover {
	color: #fff!important
}

.color-gray {
	color: #f9f9f9!important
}

.color-dark {
	color: #222!important
}

.color-primary {
	color: #1B2954!important
}

.color-secondary {
	color: #1B2954!important
}

.color-heading {
	color: #242426!important
}

.color-body {
	color: #848e9f!important
}

.bg-white {
	background-color: #fff!important
}

.bg-gray {
	background-color: #f9f9f9!important
}

.bg-dark {
	background-color: #222!important
}

.bg-heading {
	background-color: #242426!important
}

.bg-primary {
	background-color: #1B2954!important
}

.bg-secondary {
	background-color: $brand!important;
	padding-bottom: 40px;
}

.bg-img {
	position: relative;
	z-index: 1
}

.background-size-auto {
	background-size: auto!important
}

.bg-parallax {
	background-attachment: fixed
}



.bg-overlay-primary:before {
	background-color: rgba(0, 146, 255, .85)
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #242426;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 20px
}

.heading__subtitle {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	color: #848e9f;
	margin-bottom: 12px
}

.heading__title {
	font-size: 37px;
	margin-bottom: 20px
}
.numbers-table{
	text-align: right;
	span{
		left: initial !important;
		right: -10px;
		img{
			right: 26px !important;
			left: initial !important;
		}
	}
}
.heading__title .underlined-text {
	border-bottom: 4px solid #1B2954
}
.red-td{
	color: $yellow;
	text-align: right;
}
.heading__desc {
	font-size: 16px;
	margin-bottom: 0
}

.heading-layout2 .heading__title {
	font-size: 40px
}

.heading-layout3 .heading__title {
	font-size: 50px
}

.heading-light .heading__subtitle {
	color: #f9f9f9
}
.filter-table{
	&.active{
		.filter-show{
			display: none;
			pointer-events: none;
		}
		.filter-content{
			display: block !important;
		}
	}
}
.filter-content{
	border: 1px solid $border;
	width: 300px;
	padding: 15px;
	background: white;
	position: absolute;
	top: 32px;
	display: none;
	right: -1px;
	z-index: 9;
	.filed-filter{
		display: inline-block;
		width: 100%;
	}
	.custom-select {
		height: 33px;
		padding-top: 7px;
		font-size: 13px;
	}
	.button-action{
		margin: auto;
		text-align: center;
		margin-top: 15px;
		i{
			color: white;
		}
		a{
			padding: 10px 15px !important;
		}
	}
	.filed-50{
		float:left;
		position: relative;
		width: 50%;
		&:nth-last-child(1){
			padding-left: 9px;
			&::after{
				content: '';
				display: inline-block;
				width: 7px;
				height: 1px;
				position: absolute;
				left: -4px;
				background: $border;
				top: 12px;
			}
		}
		&:nth-last-child(2){
			padding-right: 9px;
		}
	}
	.select-items {
		left: 0;
		padding: 15px;
		right: 0;
		z-index: 99;
		background: white;
		top: 31px;
		border: 1px solid #E0E0E0 !important;
		width: 100%;
		max-height: 200px;
    	min-height: 100px;
		overflow-y: auto;
		padding-top: 0;
		div{
			background: white;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			margin-bottom: 15px;
			&:nth-last-child(1){
				margin-bottom: 0;
			}
			position: relative;
			padding-left: 60px;
			label{
				position: absolute;
				left: 0;
				top:5px;
				color: $text;
				font-size: 13px;
			}
			input{
				width: 100%;
				height: 30px;
				border: 1px solid $border;
				padding: 5px 10px;
			}
		}
	}
}
.full-label{
	display: none;
}
.faqs-body{
	background: $bg;
	margin-left: -15px;
	margin-right: -15px;
	padding: 30px 15px !important;
	margin-top: 30px !important;
	.card{
		background: none;
		border: 0 !important;
	}
	.card-body{
		margin-bottom: 15px;
		background: white;
	}
	h5{
		button{
			outline: none !important;
			width: 100%;
			display: inline-block;
			box-shadow: none !important;
			text-align: left;
			position: relative;
			padding-left: 0;
			color: $yellow !important;
			&::before{
				content: '-';
				display: inline-block;
				font-size: 35px;
				color: $yellow !important;
				position: absolute;
				right: 7px;
				top: -10px;
				font-weight: normal;
			}
			&::after{
				content:'+';
				display: none;
				font-size: 31px;
				color: $text-alpha;
				position: absolute;
				right: 3px;
				top: -8px;
				font-weight: normal;
			}
			&.collapsed{
				color: $text !important;
				&::before{
					display: none !important;
				}
				&::after{
					display: block !important;
				}
			}
		}
	}
	.card{
		border-top: 1px solid $border !important;
	}
	.card-header {
		padding: 10px 15px;
		border: 0 !important;
		border-radius: 0 !important;
		margin-bottom: 0px !important;
		background: white !important;
		button{
			text-decoration: none !important;
			color: $brand;
			font-weight: bold;
			outline: none;
		}
	}
	h2{
		text-align: center;
		font-size: 24px;
		color: $text;
		text-transform: uppercase;
	}
	.pagination{
		margin-top: 20px;
		li{
			a{
				background: white;
			}
		}
	}
}

.btn-action{
	text-align: right;
    margin: 0;
    padding: 0 10px 0 0 !important;
	&.active{
		display: revert !important;
		float: none;
	}
	a{
		height: 26px;
    	padding: 3px 12px;
		display: inline-block;
		background: #F36D21;
		width: 82px;
		color: white;
		margin-top: 0px;
		text-align: center;
		i{
			color: white;
			font-size: 10px;
			margin-top: 2px;
			margin-left: 3px;
		}
		&:nth-child(2){
			background: white;
			border: 1px solid $brand;
			color: $brand !important;
			margin-right: 10px;
			margin-left: 10px;
			width: 60px;
			&:hover{
				background: $brand;
				color: white !important;
			}
		}
		&:nth-child(1){
			
			&:hover{
				background: #ff6c58;
			}
		}
	}
}
.heading-light .heading__subtitle:after {
	background-color: #fff
}

.heading-light .heading__desc,
.heading-light .heading__title {
	color: #fff
}

.text-block__title {
	font-size: 25px;
	margin-bottom: 17px
}

.text-block__desc {
	font-size: 16px;
	line-height: 26px
}

.text__link {
	font-size: 14px;
	font-weight: 700
}

.text__link a:not(.btn) {
	padding-bottom: 2px;
	border-bottom: 2px solid #1B2954
}

.text__link a:not(.btn).color-secondary {
	border-bottom-color: #1B2954
}

.text__link:hover a:not(.btn) {
	color: #1B2954;
	border-bottom-color: #1B2954
}

.text__link:hover a:not(.btn).color-secondary {
	color: #1B2954;
	border-bottom-color: #1B2954
}
.item-blogs{
	height: 100%;
	background: white;
	h6{
		padding: 10px 15px;
		color: $text;
		a{
			&:hover{
				color: $yellow !important;
			}
		}
	}
	p{
		padding: 0 15px;
		color:$text-alpha;
	}
	.name-cate{
		padding: 15px;
		a{
			color: $text-alpha;
			font-size: 12px;
			&:hover{
				color: $yellow !important;
			}
		}
		i{
			float: right;
			margin-top: 5px;
			color: $yellow;
		}
	}
}
.head-account{
	max-width: 400px;
	margin: auto;
	.box-account{
		display: inline-block;
		padding-left: 160px;
		position: relative;
		min-height: 150px;
		img{
			position: absolute;
			left: 0;
			top: -20px;
			width: 130px;
			height: 130px;
			border-radius: 50%;
		}
		.infor-account{
			display: inline-block;
			width: 100%;
			h6{
				font-size: 23px;
				display: inline-block;
				width: 100%;
			}
			a{
				width: 100px;
				height: 30px;
				text-align: center;
				padding-top: 3px;
				display: inline-block;
				border-radius: 0px;
				color: $text-alpha;
				border: 1px solid $border;
				&:hover{
					background: $yellow;
					border: 1px solid $yellow;
					color: white;
				}
			}
		}
	}
}
.code-order{
	a{
		color: $yellow;
		font-weight: normal;
		text-decoration: underline;
	}
}
.change-pass{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	label{
		color: $text-alpha !important;
		font-size: 13px;
	}
	.pos-check-content{
		padding-left: 0 !important;
	}
	
}
.change-avatar{
	span{
		color: $text-alpha;
		font-size: 12px;
	}
	button{
		width: 150px;
    background: #F36D21;
    border-radius: 0;
    color: white;
    float: left;
    margin: auto;
    font-weight: bold;
    border: 0 !important;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    padding: 4px 10px;
    margin-top: 6px;
	}
}
.content-account{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	form{
		background: $bg;
		padding: 20px;
		min-height: 290px;
		margin-bottom: 50px;
		button{
			width: 120px;
			background: $yellow;
			border-radius: 0;
			color: white;
			margin: auto;
			font-weight: bold;
			border: 0 !important;
			font-size: 13px;
			display: block;
			text-transform: uppercase;
			&:hover{
				background: $hover;
			}
			&:disabled{
				background: $border;
			}
		}
	}
	input, textarea{
		font-size: 13px;
		background: white;
		border-radius: 0;
		border: 1px solid $border;
	}
	textarea{
		height: 100px;
		padding: 10px;
		width: 100%;
	}
	.status-order{
		display: inline-block;
	width: 100%;
	margin-bottom: 10px;
		color: $yellow;
		b{
			font-weight: bold;
			color: $yellow;
		}
		span{
			color: #8DC63F;
			margin-left: 10px;
			font-weight: normal;
		}
	}
	table{
		tr{
			td{
				a{
					height: initial !important;
					width: 108px;
					text-transform: uppercase;
					font-weight: bold;
					span{
						font-size: 10px;
						display: inline-block;
						width: 100%;
						text-transform: none;
					}
				}
			}
		}
	}
}
.body-account{
	display: inline-block;
	width: 100%;
	.nav-account{
		display: inline-block;
		width: 100%;
		nav{
			display: inline-block;
			width: 100%;
			padding-bottom: 7px;
			text-align: center;
			border-bottom: 1px solid $border;
			ul{
				margin: 0;
				padding: 0;
				li{
					list-style: none;
					display: initial;
					padding: 0 10px;
					a{
						font-size: 13px;
						font-weight:bold;
						position: relative;
						padding-bottom: 10px;
						text-transform: uppercase;
						&:hover, &.active{
							color: $yellow;
							&::after{
								position: absolute;
								bottom: 0;
								left: 0;
								content: '';
								display: block;
								width: 100%;
								height: 1px;
								background: $yellow;
							}
						}
					}
				}
			}
		}
	}
}
.account-body{
	display: inline-block;
	width: 100%;
	padding: 15px !important;
}
.price-content-body{
	border: 1px solid $border;
	margin-bottom: 20px;
	.row{
		&:nth-child(1){
			margin-right: 0 !important;
		}
	}
	
	h6{
		min-height: 90px;
	}
	.item-price-content{
		padding: 15px;
		h2{
			font-size: 20px;
			margin-bottom: 10px;
			color: $yellow;
		}
	}
	.col-md{
		padding-left: 0 !important;
			padding-right: 0 !important;
			&:nth-child(1){
				
				padding-left: 15px !important;
				padding-right:15px !important;
				min-width: 540px;
			}
		&:nth-child(2){
			border-left: 1px solid $border;
			padding-left: 0 !important;
			.price-head{
				label{
					color: $text-alpha !important;
				}
			}
		}
		&:nth-child(3){
			background: #454F72;
			h6{
				border-bottom: 1px solid #4E5C88;
				color: white;
				span{
					color: white;
				}
			}
			.price-head{
				b{
					span{
						color: #B1B8CE;
					}
				}
			}
		}
		&:nth-child(4){
			background: #353F60;
			h6{
				border-bottom: 1px solid #4E5C88;
				color: white;
				span{
					color: white;
				}
			}
			.price-head{
				b{
					span{
						color: #B1B8CE;
					}
				}
			}
		}
		.price-head{
			label{
				color: white;
			}
		}
	}
	.price-head{
		
		b{
			span{
				font-size: 16px;
				color: $text-alpha;
				text-decoration:line-through;
			}
		}
	}
}
.row-infor-content{
	margin-right: 0 !important;
	.col-md{
		.title-infor-content{
			padding:10px 15px !important;
			p{
				margin-bottom: 0;
				text-align: center;
			}
		}
		&:nth-child(1){
			padding-right: 0 !important;
			.title-infor-content{
				border-top: 1px solid $border !important;
				padding: 15px;
			}
		}
		&:nth-child(2){
			.title-infor-content{
				border-top: 1px solid $border !important;
			}
		}
		&:nth-child(3), &:nth-child(4){
			border-top: 1px solid #4E5C88;
			p{
				color: white;
			}
		}
	}
	
}
.title-infor-content{
	padding: 0;
	h5{
		margin-bottom: 0;
		font-size: 14px;
		margin-right: 5px;
		display: inline-block;
	}
	img{
		cursor: pointer;
		width: 16px;
	}
}
.item-price-content{
	height: 100%;
	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
}
.infor-question{
	display: initial;
	position: relative;
	z-index: 999;
	span{
		overflow: hidden;
		opacity: 0;
		position: absolute;
		display: none;
		width: 300px;
		background: $brand;
		padding: 15px;
		top: 25px;
		z-index: 99;
		color: white;
		border-radius: 4px;
		left: 0;
	}
	&:hover{
		span{
			display: block;
			visibility: initial;
			opacity: 1;
		}
	}
}
.infor-row-content{
	p{
		margin-bottom: 0;
	}
}
.infor-columns-price{
	height: 100%;
}
.digi-section-5{
	float: left;
	width: 100%;
	background: white;
	position: relative;
	margin-bottom: 298px;
	&::before{
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 400px;
		content: '';
		height: 400px;
		background: url(../images/hero-small.svg) no-repeat center;
		background-size: contain !important;
	}
	&::after{
		display: inline-block;
		position: absolute;
		top: 0;
		content: '';
		right: 0;
		width: 620px;
		height: 620px;
		z-index: 1;
		background: url(../images/hero-small.svg) no-repeat center;
		background-size: contain !important;
	}
}
.content-form{
	max-width: 600px;
	margin: auto;
	position: relative;
	padding: 50px;
	z-index: 2;
	background: white;
	box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.03);
	.button-action{
		text-align: right;
	}
	input{
		height: 50px;
		border: 1px solid $border;
		border-radius: 0;
		font-size: 14px;
	}
	label{
		font-size: 14px;
	}
	.title-section{
		text-align: left;
		h2{
			color: $text;
		}
		p{
			color: $text-alpha;
			text-align: left;
		}
	}
	
}
.custom-select{
	width: 100%;
	display: inline-block;
	height: 50px;
	padding-top: 13px;
	border-radius: 0;
	border: 1px solid #E0E0E0;
	font-size: 14px;
}
.custom-select {
	position: relative;
  }
  
  .custom-select select {
	display: none; /*hide original SELECT element:*/
  }
 
  /*style the arrow inside the select element:*/
  .select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
  }
  .p-section-39{
	padding: 20px;
	min-height: 400px;
	padding-top: 0 !important;
	width: 100%;
	display: inline-block;
	h2{
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 32px;
		margin-bottom: 30px;
		font-weight: normal;
		text-transform: uppercase;
	}
}

.avatar-lager-blogs{
	display: inline-block;
	width: 100%;
	position: relative;
	&::before{
		position: absolute;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 1;
		content: '';
		display: block;
		top: 0;
		left: 0;
	}
	img{
		opacity: .7;
		width: 100%;
	}
}
.lagar-blogs{
	display: inline-block;
	width: 100%;
	position: relative;
	
}
.infor-lager-blogs-head{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 30px;
	h1{
		margin: 0;
		padding: 0;
		a{
			font-size: 54px;
			color: white;
			line-height: 61px;
		}
		&:hover{
			color: $brand;
			a{
				color: #B6E900;
			}
		}
	}
	label{
		color: white;
		text-transform: uppercase;
		display: inline-block;
		width: 100%;
		font-size: 13px;
		padding: 10px 0;
		margin: 0;
		&:hover{
			text-decoration: underline;
			color: #B6E900;
		}
	}
	p{
		color: white;
		font-size: 14px;
		display: inline-block;
		width: 100%;
		margin-bottom: 0;
	}
}
.head-blogs{
	position: relative;
	padding-right: 380px;
	width: 100%;
	min-height: 400px;
	display: inline-block;
	background: $brand;
	.row{
		margin: 0 !important;
	}
}

.featured-blogs{
	position: absolute;
    right: 0;
    width: 380px;
    padding: 20px;
	h2{
		font-size: 24px;
		color: white;
		text-align: left;
		margin-bottom: 10px !important;
		padding-top: 10px !important;
	}
	ul{
		padding-left: 0;
		li{
			list-style: none;
			border-bottom: 1px solid #404b6f;
			padding: 20px 0;
			h6{
				margin-bottom: 0 !important;
			}
			a{
				color: white;
				font-size: 16px;
				font-weight: normal;
				&:hover{
					text-decoration: underline;
				}
			}
			label{
				opacity: .6;
				a{
					font-weight: normal;
					text-transform: uppercase;
					font-size: 12px;
				}
			}
		}
	}
}
.blogs-detail-body-page{
	padding-bottom: 30px;
	.container{
		max-width: 1000px;
		h2{
			margin: 30px 0 20px 0;
		}
		p{
			text-align: justify;
			line-height: 28px;
		}
	}
	.avatar-head-blogsdetail{
		margin-bottom: 30px;
		width: 100%;
		display: inline-block;
	}
	.name-cate-pagedetail{
		color: $text-alpha;
		text-transform: uppercase;
		font-size: 12px;
		margin: 0 0 10px 0;
	}
	h1{
		font-size: 54px;
		font-weight: bold;
	}
}
.sumary-blogs-detail{
	border: 1px solid $border;
	padding: 15px;
	margin: 20px 0;
	display: inline-block;
	width: 100%;
	h6{
		border-bottom: 1px solid $border;
		margin-bottom: 10px;
		padding-bottom: 10px;
		color: $brand;
	}
	ol{
		margin-bottom: 0;
		padding: 0 0 0 25px;
		li{
			padding: 5px 0;
			a{
				font-weight: bold;
			}
			ol{
				li{
					a{
						font-weight: normal;
					}
				}
			}
		}
	}
}
.sumary-blogs-detail{
	width: 220px;
	float: right;
	margin: 0 0px 20px 20px !important;
}
.content-editor-blogs-detail{
	img{
		width: 100%;
	}
}
.blogs-detail-body-page{
	padding-bottom: 30px;
	.container{
		max-width: 1000px;
		h2{
			margin: 30px 0 20px 0;
		}
		p{
			text-align: justify;
			line-height: 28px;
		}
	}
	.avatar-head-blogsdetail{
		width: 100%;
		display: inline-block;
	}
	.name-cate-pagedetail{
		color: $text-alpha;
		text-transform: uppercase;
		font-size: 12px;
		margin: 0 0 10px 0;
	}
	h1{
		font-size: 54px;
		font-weight: bold;
	}
}
.sumary-blogs-detail{
	border: 1px solid $border;
	padding: 15px;
	margin: 20px 0;
	display: inline-block;
	h6{
		border-bottom: 1px solid $border;
		margin-bottom: 10px;
		padding-bottom: 10px;
		color: $brand;
	}
	ol{
		margin-bottom: 0;
		padding: 0 0 0 25px;
		li{
			padding: 5px 0;
			a{
				font-weight: bold;
			}
			ol{
				li{
					a{
						font-weight: normal;
					}
				}
			}
		}
	}
}

.list-blogs-body{
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
.list-blogs{
	background: $bg;
	padding: 30px 0;
	display: inline-block;
	width: 100%;
	padding-bottom: 130px;
	.col-md-3{
		margin-bottom: 30px;
	}
}
.item-blogs-list{
	background: white;
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
	h6, p {
		padding: 15px;
	}
	p{
		color: $text-alpha;
		margin-bottom: 50px;
	}
	h6{
		margin-bottom: 0px;
	}
	.category-name-view-detail{
		padding: 15px;
		background: white;
		padding-right: 40px;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		label{
			a{
				font-weight: normal;
				font-size: 12px;
				color: $text-alpha;
				&:hover{
					color: $brand;
				}
			}
		}
		i{
			position: absolute;
			right: 15px;
			top: 20px;
			font-size: 15px;
			color: $text-alpha;
			&:hover{
				color: $brand;
			}
		}
	}
}
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
	top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
	cursor: pointer;
	user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
	position: absolute;
	bottom: 101%;
	left: 0;
	background: #FFFFFF;
	box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
	padding: 15px;
	right: 0;
	z-index: 99;
	div{
		margin-top:8px;
		padding-bottom:8px;
		font-size: 13px;
		border-bottom: 1px solid $border;
		&:hover{
			color: $yellow;
			background: none !important;
		}
	}
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
	display: none;
  }
.menu-close{
	display: none;
}






@media (min-width:1025px) {
	.is-sticky {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		z-index: 1040;
		border-bottom: 0!important;
		background-color: #fff!important;
		-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .04);
		box-shadow: 0 3px 4px rgba(0, 0, 0, .04);
		-webkit-animation: translateHeader .8s;
		animation: translateHeader .8s;
		-webkit-transition: all .4s ease;
		transition: all .4s ease;
	}
}






@media (max-width:1025px) {
    .body-menu {
		padding: 5px 15px;
	}
	.infor-slider p {
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 30px;
	}
	.button-action a, .button-action button {
		padding: 12px 20px;
	}
	.owl-theme .owl-nav button.owl-next::after, .owl-theme .owl-nav button.owl-prev::after {
		font-size: 36px;
	}
	.title-section h2 {
		font-size: 23px;
		margin-bottom: 10px;
	}
	.digi-section2 {
		padding: 15px;
	}
	.item-services{
		.button-action{
			a{
				width: 100% !important;
				padding: 12px !important;
			}
		}
	}
	.title-section h2 b {
		font-size: 23px;
	}
	.digi-section-3 .col-md h6 {
		color: white;
		font-size: 42px;
	}
	.digi-section-3 .col-md img {
		width: 50px;
	}
	section {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.cate-blogs-homepage ul li a {
		background: white;
		height: 50px;
	}
	.cate-blogs-homepage ul li a::before {
		height: 50px;
	}
}
.menu-button{
	display: none;
}

//o day 
@media (max-width:992px) {
	.menu-close{
		display: block;
		margin: 15px;
		i{
			font-size: 20px;
			color: $text-alpha;
		}
	}
	.title-section p {
		max-width: 1000px;
		text-align: justify;
	}
	.show-menu{
		display: block !important;
	}
	.content-blogs {
		padding-left: 0;
		position: relative;
	}
	
	.list-menu-footer a {
		padding: 5px 0;
	}
	footer{
		.col-md-2{
			width: 50% !important;
			margin: 40px 0;
		}
	}
	.content-form {
		padding: 15px;
	}
	.content-slider{
		display: inline-block !important;
	}
	.infor-slider {
		width: 100% !important;
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.digi-section2{
		.col-md{
			margin-bottom: 20px;
		}
	}
	.button-action {
		text-align: center;
	}
	.digi-section-3 .col-md {
		width: 50%;
	}
	.digi-section-3 .col-md h6 {
		color: white;
		font-size: 36px;
	}
	.digi-section-3 .col-md img {
		width: 40px;
		margin-bottom: 3px;
	}
	.cate-blogs-homepage {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		margin-bottom: 20px;
	}
	.digi-section-3 .digi-partner-content img {
		margin: 5px 15px;
		height: 20px;
	}
	.digi-section-3 hr {
		margin: 0;
	}
	.img-slider {
		float: left;
		width: 100%;
		padding: 0 15px;
	}
	header {
		display: inline-block;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 999;
		left: 0;
		height: 50px;
		background: white;
	}
	body{
		padding-top: 50px;
	}
.menu-button{
	display: block;
	position: absolute;
	left: 15px;
	top: 14px;
	i{
		font-size: 20px;
		color: $text-alpha;
	}
}
.right-head {
    float: right;
    background: #6DBE45;
    padding: 6px 15px;
    margin: 9px 15px;
}
.body-menu .logo {
    margin-right: 0;
    margin-left: 40px;
}
.right-head .cart-head {
    cursor: pointer;
    position: fixed;
    top: 14px;
    right: 16px;
}
	.heading__title {
		font-size: 26px
	}

	h2{
		font-size: 22px;
	}
	h6{
		font-size: 16px;
	}
	h3{
		font-size: 18px;
	}
	h4{
		font-size: 17px;
	}
	h5{
		font-size: 15px;
	}
	h1{
		font-size: 26px;
		b{
			color: $brand;
		}
	}
	p{
		font-size: 13px;
	}
	span{
		font-size: 13px;
	}
	header nav{
		position: fixed;
		top: 0;
		display: none;
		height: 100%;
		background: white;
		width: 100%;
		z-index: 9;
		left: 0;
		ul{
			display: inline-block;
			width: 100%;
			padding-top: 0;
			position: relative;
			li{
				a{
					display: inline-block;
					width: 100%;
					padding: 15px;
				}
			}
		}
	}
	.content-blogs .col-md{
		margin-top: 20px;
	}
}

@media (min-width:320px) and (max-width:767px) {
	footer {
		width: 100%;
		padding: 20px 15px!important;
		position: relative;
		bottom: 0;
		left: 0;
		background: url(../images/bg-footer-mb.png) no-repeat center top;
		background-size: cover !important;
		.col-md-12{
			p{
				color: white !important;
				border-top: 1px solid #3F3F3F;
				padding-top: 10px !important;
				display: inline-block;
				width: 100%;
				margin-top: 20px;
			}
		}
	}
	.form-contact{
		padding-bottom: 30px;
	}
	body, .digi-section-5{
		margin-bottom: 0 !important;
	}
	.heading__title {
		font-size: 21px;
		margin-bottom: 10px
	}
	.heading__subtitle,
	.text__link {
		font-size: 13px
	}
	.heading__desc {
		font-size: 13px
	}
	.heading-layout2 .heading__title {
		font-size: 24px
	}
	.heading-layout3 .heading__title {
		font-size: 26px
	}
	.text-block__desc {
		font-size: 13px;
		line-height: 24px;
		margin-bottom: 10px
	}

	.menu-sidebar-page{
		z-index: 1;
		left: inherit;
		left: 0;
		padding-top: 50px;
		display: none;
		&.active{
			display: block;
			z-index: 99;
		}
	}
	.body-page{
		padding-left: 15px;
	}
	.breadcrumb-div{
		padding-left:0;
	}
	.search-product {
		margin-top: 50px;
	}
	.infor-columns-price, .price-table > .row > .col-md-6 > .row .col-md-6{
		height: initial !important;
	}
	.menu-sidebar-page {
		position: fixed;
		top: 50px;
	}
	.menu-cate-mb{
		position: fixed;
		left: 15px;
		padding: 13px 10px;
		background: #ed634f;
		color: white;
		bottom: 15px;
		width: 70px;
		text-align: center;
		display: inline-block;
		height: 70px;
		z-index: 9;
		border-radius: 50%;
		i{
			display: inline-block;
			width: 100%;
			font-size: 20px;
			margin: 0;
		}
		span{
			margin-top: -3px;
			display: inline-block;
			width: 100%;
			font-size: 10px;
		}
	}
	.menu-close-mb{
		font-size: 20px;
    position: absolute;
	display: flex;
    top: 10px;
    right: 114px;
	color: white;
	i{
		margin-right: 5px;
	}
	span{
		color: white;
	}
	}
	.infor-publisher{
		margin-bottom: 20px;
	}
	.popup-profile-publisher .modal-dialog {
		width: 100%;
	}
	.body-page{
		min-height: initial;
	}
	.cate-sidebar-sub{
		height: 100%;
		overflow-y: auto;
	}
	.menu-sidebar-page nav ul li a {
		padding: 8px 15px;
	}
	.page-content{
		.tab-pane.fade.active.show{
			overflow-y: auto;
			.price-content-body{
				width: 1600px;
				.row{
					.col-md{
						-ms-flex-preferred-size: 0;
						flex-basis: 0;
						-ms-flex-positive: 1;
						flex-grow: 1;
						max-width: 100%;
					}
				}
			}
		}
	}
	.scroll-price-table{
		overflow-y: auto;
		.price-table{
			width: 1000px;
			.row{
				.col-md-6{
					-ms-flex-preferred-size: 0;
					flex-basis: 0;
					-ms-flex-positive: 1;
					flex-grow: 1;
					max-width: 100%;
				}
			}
		}
	}
	.slide-PC{
		display: none !important;
	}
	.slide-MB{
		display: block !important;
	}
	.infor-slider {
		width: 100% !important;
		margin-bottom: 20px;
		padding: 35px !important;
		left: 0;
	}
	.img-slider {
		padding: 0;
	}
	.owl-theme .owl-dots, .owl-theme .owl-nav {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		margin: -25px 0 0 0;
	}
	header{
		box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.04);
	}
	.list-mobile-section .list-repair-mobile ul li .rating-repair p img {
		width: 13px;
	}
	.list-mobile-section .list-repair-mobile ul li .rating-repair {
		
		width: 90px;
	}
	.list-mobile-section .list-repair-mobile ul li .rating-repair p span {
		color: #F36D21;
		font-size: 14px;
		font-weight: normal;
	}
	.list-mobile-section{
		.col-md{
			&:nth-last-child(1){
				margin-bottom: 20px;
			}
		}
	}
	.popup-checkcode .modal-dialog {
		width: 100%;
	}
	.popup-checkcode{
		.form-box-content {
			padding: 20px 10px;
		}
	}
	.phone-reating {
		display: inline-block;
		width: 100%;
	}
	.rating-repair-detail {
		display: inline-block;
		width: 100%;
		margin-top: 15px;
	}
	.rating-repair-detail {
		p{
			margin-bottom: 0;
			float: left;
		}
	}
	.rating-repair-detail label {
		color: #333333;
		margin-left: 4px;
		font-size: 12px;
		float: left;
	}
	.infor-detailpage-repair a.view-detail{
		float: left;
		margin-top: 0 !important;
	}
	.rating-repair-detail {
		margin-top: 5px;
	}
	.list-repair-ul ul li .list-services-body {
		position: relative;
		display: inline-block;
		align-items: center;
		justify-content: initial;
		padding: 15px;
		background: white;
		border-radius: 15px;
		margin-bottom: 20px;
		width: 100%;
		padding-right: 120px;
		h6{
			padding-left: 90px;
			position: relative;
			img{
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		min-height: 110px;
	}
	.list-repair-ul ul li .list-services-body label{
		position: absolute;
		right: 15px;
		top: 20px;
		font-size: 17px;
	}
	.list-repair-ul ul li .list-services-body a.action-book {
		width: 100px;
		border: 1px solid #6DBE45;
		color: #6DBE45;
		text-align: center;
		float: right;
		height: 40px;
		border-radius: 50px;
		line-height: 38px;
		position: absolute;
		right: 10px;
		bottom: 15px;
	}
	.popup-rating .modal-dialog {
		position: fixed;
		width: 100%;
	}
	.popup-rating .modal-body {
		padding-right: 0;
	}
	.popup-rating .modal-header button.btn-review {
		position: fixed;
		left: inherit;
		top: 5px;
		background: #F36D21;
		color: white;
		height: 33px;
		padding-top: 4px;
		text-transform: uppercase;
		right: 30px;
		font-size: 10px;
	}
	.popup-rating .rating-repair-detail {
		display: flex;
		position: absolute;
		top: 5px;
		width: inherit;
		right: 134px;
	}
}


